<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- IM SDK required start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- IM SDK required end -->
    <!-- IM UIKit required start -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Android 13 to replace READ_EXTERNAL_STORAGE permission -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <!-- Android 14 is used to grant partial access to photos and videos -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <!-- IM UIKit required end -->
    <application>
        <!--Add FileProvider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- Chat activity -->
        <activity android:name=".feature.chat.activities.UIKitChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <!-- Group list activity -->
        <activity android:name=".feature.group.ChatUIKitGroupListActivity"
            android:exported="false"/>
        <!-- Group detail activity -->
        <activity android:name=".feature.group.ChatUIKitGroupDetailActivity"
            android:exported="false"/>
        <!-- Group member list activity -->
        <activity android:name=".feature.group.ChatUIKitGroupMembersListActivity"
            android:exported="false"/>
        <!-- Edit group information activity -->
        <activity android:name=".feature.group.ChatUIKitGroupDetailEditActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:exported="false"/>
        <!-- Create group activity -->
        <activity android:name=".feature.group.ChatUIKitCreateGroupActivity"
            android:exported="false"/>
        <!-- Common search activity -->
        <activity android:name=".feature.search.ChatUIKitSearchActivity"
            android:exported="false"/>
        <!-- Contact list activity -->
        <activity android:name=".feature.contact.ChatUIKitContactDetailsActivity"
            android:exported="false"/>
        <!-- Contact check activity -->
        <activity android:name=".feature.contact.ChatUIKitContactCheckActivity"
            android:exported="false"/>
        <activity android:name=".feature.invitation.ChatUIKitNewRequestsActivity"
            android:exported="false"/>
        <activity android:name=".feature.invitation.ChatUIKitNewRequestsDetailsActivity"
            android:exported="false"/>
        <!-- Downloading video attachment activity -->
        <activity android:name=".feature.chat.activities.ChatUIKitShowVideoActivity"
            android:exported="false"/>
        <!-- Show local video activity -->
        <activity android:name=".feature.chat.activities.ChatUIKitShowLocalVideoActivity"
            android:exported="false"/>
        <!-- Show large image activity -->
        <activity android:name=".feature.chat.activities.ChatUIKitShowBigImageActivity"
            android:exported="false"/>
        <!-- Download and show file activity -->
        <activity android:name=".feature.chat.activities.ChatUIKitShowNormalFileActivity"
            android:exported="false"/>
        <!-- Chat thread activity -->
        <activity android:name=".feature.thread.ChatUIKitThreadActivity"
            android:exported="false"/>
        <!-- Create chat thread activity -->
        <activity android:name=".feature.thread.ChatUIKitCreateThreadActivity"
            android:exported="false"/>
        <!-- Chat thread list activity -->
        <activity android:name=".feature.thread.ChatUIKitThreadListActivity"
            android:exported="false"/>
        <!-- Chat thread member list activity -->
        <activity android:name=".feature.thread.ChatUIKitThreadMemberActivity"
            android:exported="false"/>
        <!-- Chat history activity for combine message -->
        <activity android:name=".feature.chat.activities.ChatUIKitHistoryActivity"
            android:exported="false"/>
        <!-- Chat search message result activity -->
        <activity android:name=".feature.chat.activities.ChatUIKitMessageSearchResultActivity"
            android:exported="false"/>
        <activity android:name=".feature.contact.ChatUIKitBlockListActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
    </application>
</manifest>